ion-input.input {
  --background: rgba(136, 147, 145, 0.2);
  font-size: 24px;
  margin: 5px 0 12px 0;
}

.adult-profile-content {
  margin: 2% 3% 2%;
}

ion-input.input-fill-outline {
  font-weight: bold;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: rgba(136, 147, 145, 0.2);
  --border-width: 0.25rem !important;
  --border-color: rgba(136, 147, 145, 0.01) !important;
  --border-radius: 1rem !important;
}

ion-input.input {
  --placeholder-color: rgb(167, 166, 166);
  --placeholder-opacity: 1;
  --color: black;
}

/* countrydropdown  */

ion-select.country-dropdown {
  background: rgba(156, 165, 163, 0.2);
  font-family: "Outfit";
  font-weight: bold;
  font-size: 24px;
  --padding-start: 30px;
  --padding-end: 30px;
  /* --padding-top: 14px; */
  /* --padding-bottom: 14px; */
  border-radius: 1rem;
  /* --placeholder-color: rgb(121, 120, 120); */
  color: rgb(167, 166, 166);
  margin-top: 5px;
}

ion-select.country-dropdown::part(text) {
  color: black;
}

ion-select.country-dropdown::part(label) {
  transform: translateY(40%) scale(1);
}

ion-col.col-save-changes-button {
  text-align: center;
}

ion-button.save-changes-button {
  width: 442px;
  height: auto;
  margin: 5% 5%;
  box-shadow: 4px 12px 16px 0px rgba(58, 42, 17, 0.2);
  border-radius: 100px;
}

ion-col.side-menu-col {
  background-color: white;
}
