ion-input.input {
  --background: rgba(136, 147, 145, 0.2);
  font-size: 1.5rem;
  margin: 0.3125rem 0 0.75rem 0;
}

.adult-profile-content {
  margin: 2% 3% 2%;
}

ion-input.input-fill-outline {
  font-weight: bold;
  --padding-start: 1.25rem;
  --padding-end: 1.25rem;
  --background: rgba(136, 147, 145, 0.2);
  --border-width: 0.25rem !important;
  --border-color: rgba(136, 147, 145, 0.01) !important;
  --border-radius: 1rem !important;
}

ion-input.input {
  --placeholder-color: rgb(167, 166, 166);
  --placeholder-opacity: 1;
  --color: black;
}

/* countrydropdown  */

ion-select.country-dropdown {
  background: rgba(156, 165, 163, 0.2);
  font-family: "Outfit";
  font-weight: bold;
  font-size: 1.5rem;
  --padding-start: 1.875rem;
  --padding-end: 1.875rem;
  /* --padding-top: 14px; */
  /* --padding-bottom: 14px; */
  border-radius: 1rem;
  /* --placeholder-color: rgb(121, 120, 120); */
  color: rgb(167, 166, 166);
  margin-top: 0.3125rem;
}

ion-select.country-dropdown::part(text) {
  color: black;
}

ion-select.country-dropdown::part(label) {
  transform: translateY(40%) scale(1);
}

ion-col.col-save-changes-button {
  text-align: center;
}

.save-name-block {
  display: grid;
  place-items: center;
}

ion-button.save-changes-button {
  width: 27.625rem;
  height: auto;
  margin: 5% 5%;
  box-shadow: 0.25rem 0.75rem 1rem 0 rgba(58, 42, 17, 0.2);
  border-radius: 6.25rem;
  text-align: center;
}

ion-col.side-menu-col {
  background-color: white;
}
