.title-style h1 {
  color: var(--light-suelo, #000);
  font-feature-settings:
    "clig" off,
    "liga" off;
  /* UI Type/text-3xl/[S] */
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: -0.5px;
  margin-bottom: 24px;
}

ion-item.activity-insights {
  margin: 8px 0 14px;
}

ion-item.progress-item {
  margin: 0 0;
}

.segment-style {
  display: flex;
  align-items: center;
  overflow: visible;
  justify-content: space-between;
  width: 100%;
}

.segment-style h4 {
  color: var(--light-suelo, #000);
}

.segment-control {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background: var(--base-agua, rgba(0, 106, 103, 0.12));
}

.segment-control-button {
  border-radius: 1000px;
  color: #000;
  padding: 8px;
  font-size: 14px;
  background: none;
}
.segment-control-button.checked {
  background: var(--base-selva, #006a67);
  color: #fff;
}

.name-avatar {
  background: var(--Cielo-Low, #22beb9);
  color: #fff;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 14.566px;
}

.small-oval-element {
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-style ion-select {
  background: #eceeed;
  border-radius: 8px;
  padding: 0 16px 0;
}

.progress-style {
  background: #f7faf9;
}

.progress-style ion-select .select-highlight {
  --background: none;
}
.progress-style ion-item {
  --background: #f7faf9;
}
.grid-graph-style {
  margin-inline: 0;
  padding: 48px;
}

.grid-card {
  margin-bottom: 1em;
}

.grid-card ion-card-title {
  color: #000;
  font-size: 20px;
  text-align: start;
}

.whole-grid-style ion-card {
  margin-inline: 0;
  height: 100%;
  margin: 0;
}

.grid-text-style-big {
  color: var(--Neutral-Colors-Black, #1e1b39);
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* margin: 0 0 48px; */
}

.grid-text-style-small {
  color: var(--Base-Suelo, #000);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.progress-data p {
  margin: 0;
}

ion-col.progress-data {
  margin-left: 32px;
}

.color-1 {
  width: 20px;
  height: 20px;
  background: var(--Cielo-Low, #22beb9);
}
.color-2 {
  width: 20px;
  height: 20px;
  background: var(--Base-Selva, #006a67);
}
.color-3 {
  width: 20px;
  height: 20px;
  background: var(--Cielo-Lowest, #003735);
}
.color-4 {
  width: 20px;
  height: 20px;
  background: var(--Cielo-Cielo, #d3eae8);
}

.activities-card span {
  position: relative; /* Ensure the overlay is positioned relative to this element */
  color: var(--Base-Suelo, #000);
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1px;
  z-index: 1;
}

ion-icon.book-icon {
  --ionicon-stroke-width: 50px;
  color: black;
  font-size: 1.5rem;
}

ion-card.activities-card {
  --background: var(--Cielo-Cielo, #d3eae8);
  width: 100%;
  height: 178px;
}

.activities-card-overlay {
  width: 258px;
  height: 230px;
  transform: rotate(-0.246deg);
  position: absolute;
  top: 50%; /* Center the overlay vertically */
  left: 57%; /* Center the overlay horizontally */
  transform: translate(-50%, -50%); /* Center the overlay using transform */
  background-image: url("/assets/img/design_pattern_progress.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.progress-data ion-row {
  margin-bottom: 24px;
}

.second-column {
  padding: 0 24px;
}

ion-item.kids-name-select {
  --background-hover: none;
  margin-bottom: 24px;
}

.grid-card ion-text {
  color: var(--Base-Suelo, #000);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */
}

.progress-content-container {
  padding: 16px 72px;
}

#settings-progress-bottom-row {
    margin-top: 1rem;
    ion-col > * {
	height: 100%;
    }
    .grid-card {
	padding: 8px;
    }
}
