#playBanner {
  position: relative;
  background-color: #ff5709;
  color: #fff;
  padding: 1rem 0 1rem 100px;
  margin-bottom: 4rem;

  @media (max-width: 1024px) { /* iPad Mini landscape width */
    margin-bottom: 1rem; 
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    // background-size: cover;
    // background-position: 100%;
    opacity: .8;
    mix-blend-mode: overlay;
    z-index: 1;
  }
}


