.container {
  cursor: grab;
  width: 75%;
  aspect-ratio: 624/400;
  margin: auto;
  padding: 2.5rem;
  position: relative;
}

.card {
  position: absolute;
  padding: 2.5rem;
  width: 75%;
  aspect-ratio: 624/400;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  border-radius: 2.165rem;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  user-select: none;
  width: 100%;
}
