#start-page {
  background-image: url("/assets/img/shapes_background.png");
}

#inner-start-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 26.25rem;
  margin: auto;
}
