#student-landing-page {
  .main-block {
    margin: 0 0 100px 100px;
  }

  #wave-icons {
    .wave-icon {
      display: inline-block;
      text-align: center;
      p {
        margin: 0;
        &:nth-child(1) {
          font-weight: bold;
        }
        &:nth-child(2) {
          font-size: smaller;
        }
      }
      .icon {
        display: inline-block;
        padding: 1rem;
        border-radius: 50%;

        &.has-link {
          cursor: pointer;
        }
      }
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
