#student-landing-page {
    .carousel-header-margin{
	margin-left: 30px;
    }

    .background-pattern {
      background-position: 100%;
    }
    
  #wave-icons {
    background-image: url("/assets/img/wave.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1366px;
    ion-col:nth-child(2) {
      margin-top: 1.5rem;
    }

    ion-col:nth-child(3) {
      margin-top: 4rem;
    }

    .wave-icon {
      display: inline-block;
      text-align: center;

      .icon {
        display: inline-block;
        padding: 30px;
        border-radius: 50%;

        &.has-link {
          cursor: pointer;
        }
      }
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}
