/* styles for story factory cards */

.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

ion-button.sf-intro-button {
  display: inline-flex;
  width: 25rem; /* 403.506px; */
  --padding-bottom: 3%; /* 16px; */
  --padding-top: 3%; /* 16px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Style properties */
  border-radius: 105.63px;
  background: var(--base-selva, #006a67);
  box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.controller-icon {
  color: white;
}

.story-factory-button-container {
  gap: 16px;
  margin-top: 32px;
}

.story-button-bold {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--Base-Nube, #fff);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; /*//3vh; //32px;*/
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  letter-spacing: 0.211px;
}

.story-button-reg {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--Base-Nube, #fff);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; /* 14px; */
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.211px;
}

.color-selva {
  color: var(--base-selva, #006a67) !important;
}

#story-fabrica {
  width: 600px; /* 37.5rem*/
  color: var(--habanero-habanero, #ff5708);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2px;
}

#story-fact {
  align-self: stretch;
  color: var(--habanero-habanero, #ff5708);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

#story-juego-title2 {
  margin: 0px;
  padding: 2%;
  width: 36vw; /*367px; */
  color: #fff;
  font-family: Outfit;
  font-size: 1.5rem; /* 2.5vh; 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.individual-juego-card {
  height: 274px;
}

/* Media query for mobile juego card view (TODO: Fix this to make stackable on phone view?) */
@media (max-width: 768px) {
  .fabrica-card-content {
    white-space: normal; /* Allow cards to stack vertically */
    #fabrica-header-text {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  fabrica-card {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
  }
}

.fabrica-text-container {
  /* width: 50vw; //995.582px; */
  display: flex;
  height: 8vh; /* 79.97px;*/
  justify-content: center;
  align-items: center;
  gap: 3.6vh; /* 35.942px; */
  margin-bottom: 5%;
}

#fabrica-header-text {
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 5rem; /* 8.6vh; 86.26px; */
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 3vh; 28.753px; /* 33.333% */
  letter-spacing: -0.1vh; /* -0.899px; */
  color: var(--greyscale-900, #212121);
}

/*  felicitaciones page */

.felicitaciones-card {
  display: flex;
  width: 57vw; /* 1147px;*/
  height: 50vh; /* 494.5px; */
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 35.942px;
  background: var(--base-selva, #006a67);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.felicitaciones-title {
  width: 30vw; /* 600px; */
  color: var(--base-nube, #fff);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -0.125rem; /* -2px; */
}

.felicitaciones-subtitle {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 2.5rem; /* 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#congrats-text-bold {
  align-self: stretch;
  color: var(--base-nube, #fff);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#congrats-text-reg {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 1.5rem; /* 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.sigue-adelante-button {
  display: flex;
  width: 23rem; /* 362.566px; */
  --padding-top: 14.377px;
  --padding-bottom: 14.377px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; commented these out bc they weren't doing anything */
  /* --border-radius: 94.913px; */
  --background: var(--cielo-cielo, #d3eae8);
  --box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.sigue-button-es {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.sigue-button-en {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; /* 12.58px; */
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 17.611px */
  letter-spacing: 0.19px;
}

/* JuegoCard Component */

.individual-juego-card .en-pack-title2 {
  font-size: 1.5rem; /* 24px; */
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .es-pack-title {
  font-size: 2rem; /* 24px; */
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .game-icon-container {
  position: absolute;
  top: 5%;
  left: 5%;
  background-position: center;
  background-color: #f17130;
  border-radius: 100%;
  padding: 0.5vh;
  font-size: 1rem;
  color: white;
}

.individual-juego-card .heart-icon-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 1.25rem;
}

.individual-juego-card.locked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black/grey overlay */
}

.lock-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-card .lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Adjust size as needed */
}

.stories-card.locked {
  position: relative;
  filter: brightness(50%);
}

.lock-icon {
  font-size: 3rem;
  color: white;
}

.juego-card-content-component {
  position: relative;

  p.title {
    font-size: 1.5rem; /* 2.5vh; //24px; */
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -205px;
    left: 0;
    text-align: left;
  }

  p.subtitle {
    font-size: 1rem; /* 1.5vh; //13px; */
    color: white;
    position: absolute;
    text-align: left;
    bottom: -230px;
    left: 0;
  }
}

/* .juego-card-content-component.locked p.title {
  text-align: end;
} */

/* TODO: check if this is correct */
/* Adjustments for smaller screens  */
@media (max-width: 576px) {
  .lock-icon {
    font-size: 1.5rem;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Linear gradient starts from bottom with 80% black opacity and goes up 30% of
   * content while decreasing it's opacity to 0% AKA fading away 
   */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 30%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* individual fabrica word cards */

.mini-fabrica-card-page-3 {
  /* width: 100%; */
  /* height: 14.5rem; //23.5vh; */
  margin-left: 3%;
  margin-bottom: 3%;
  /* background-color: var(--base-humo, #eceeed); */
}

/* .fabrica-swirl-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-flipped-swirl {
  transform: scaleX(-1);
}

.polygon-up {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  filter: drop-shadow(0px 0px 0.8985401391983032px rgba(0, 0, 0, 0.4))
    drop-shadow(0px 5.391241073608398px 5.391241073608398px rgba(0, 0, 0, 0.16));
} */

.bili-character {
  position: absolute;
  top: 100px;
  right: -1.5rem;
  max-width: 400px;
  z-index: 2; /* Ensures Bili Character is on top of card */
}

@media only screen and (min-device-width: 768px) /* iPad Mini and iPad Air */ and (max-device-width: 1024px) /* iPad Mini,
  iPad Air,
  and iPad Pro */ and (-webkit-min-device-pixel-ratio: 1) {
  ion-card.story-page-1-main-card {
    width: 65vw; /* 1002px */
    height: 78vh;
  }

  .bili-character {
    height: 73vh;
    width: 41vw;
    top: 23vh;
    left: 60vw;
    z-index: 2;
  }

  /* Add any other styles or adjustments specific to iPads here */
}

.sf-header-container {
  display: inline-flex;
  max-width: 100%;
  width: 55vh;
  /* height: 456px; */
  flex-direction: column;
  align-items: flex-start;
  /* gap: 40px; */
  flex-shrink: 0;
}

.sf-card {
  max-width: 995px;
  margin: auto;

  ion-card {
    gap: 8px;
    box-shadow: -5.9668px 11.9336px 35.8008px 0px rgba(0, 0, 0, 0.25);
    padding: 4rem 0 4rem 4rem;
    border-radius: 2.5rem;
  }

  .right-margin {
    margin-right: 150px;
  }

  h1 {
    color: var(--base-suelo, #000);
    font-family: Outfit;
    font-size: 3rem; /* 32px; */
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */
  }

  h2 {
    color: var(--base-suelo, #000);
    font-size: 2rem; /* 24px; */
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
    margin-top: 8px;
  }
}

#story-spanish-title-pt2 {
  align-self: stretch;
  color: var(--base-selva, #006a67);
  font-family: Outfit;
  font-size: 2.5rem; /* 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
  margin-bottom: 40px;
}

.story-factory-button-container-pg-2 {
  margin-top: 8rem;
}

/* new felicitaciones page */

.new-felicitaciones-container {
  position: relative;
}

ion-card.new-felicitaciones-card {
  display: flex;
  width: 58vw; /* 1147px;*/
  height: 60vh; /* 608; */
  padding: 60px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 35.942px;
  background: var(--Base-Nube, #ffffff);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.stars-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 75px;
  right: 0;
  bottom: -60px;
  background: url("../../assets/icons/sf_stars_overlay.svg");
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.felicitaciones-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.congrats-text-title-es {
  color: var(--Base-Selva, #006a67);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -0.125rem; /* -2px; */
}

.congrats-text-subtitle-es {
  align-self: stretch;
  color: var(--Base-Selva, #006a67);
  font-family: Outfit;
  font-size: 2.5rem; /* 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
  .congrats-text-subtitle-es2 {
    margin-bottom: 5%;
  }
}

#congrats-text-title-en {
  align-self: stretch;
  color: var(--Base-Suelo, #000);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#congrats-text-subtitle-en {
  align-self: stretch;
  color: var(--Base-Suelo, #000);
  font-family: Outfit;
  font-size: 1.5rem; /* 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.keep-going-button-container {
  display: flex;
  justify-content: center;
}

.keep-going-button {
  display: flex;
  width: 23rem; /* 362.566px; */
  --padding-top: 4%;
  --padding-bottom: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* --border-radius: 94.913px; */
  --background: var(--Base-Selva, #006a67);
  --box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.keep-going-button-es {
  align-self: stretch;
  color: var(--Base-Nube, #fff);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.keep-going-button-en {
  align-self: stretch;
  color: var(--Base-Nube, #fff);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; /* 12.58px; */
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 17.611px */
  letter-spacing: 0.19px;
}

.bili-character-congrats {
  position: absolute;
  height: 12.5rem;
  width: 18.75rem;
  top: 5%; /* Bigger # = Moves the character DOWN */
  left: 47%; /* Smaller # = Moves the character LEFT */
  z-index: 2; /* Ensures Bili Character is on top of card */
  flex-shrink: 0;
}

/* fabrica de cuentos game page */

.sf-colorful-text-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 6.5rem;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.057px;
  padding: 5px 0 5px;
  margin: 5% 5% 7%;
  white-space: pre;

  @media screen and (max-width: 768px) {
    font-size: 4.5rem;
    margin-bottom: 5%;
  }

  @media screen and (max-width: 480px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 430px) {
    font-size: 2.5rem;
  }
}

ion-row.slots {
  margin-bottom: 3%;
}

.sf-game-option {
  width: 100%;
  border-radius: 200px;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
  color: #000;
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
    font-weight: normal;
  }
}

#sf-game-page ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-orange {
  background: var(--Desierto-Desierto, #f48722);
}

.option-blue {
  border: 7.98px solid var(--Cielo-Low, #22beb9);
  background: var(--Cielo-Low, #22beb9);
}

.option-yellow {
  background: var(--Sol-Sol, #f1d100);
}

.option-purple {
  background: var(--Bili-Purple, #d6d3f0);
}

ion-button.volume-button-background {
  --background: var(--Flamenco-High, #ffaedc);
  --border-radius: 2rem !important;
  width: 6.25rem;
  height: 6.25rem;

  @media screen and (max-width: 768px) {
    width: 5rem;
    height: 5rem;
  }

  @media screen and (max-width: 480px) {
    width: 4rem;
    height: 4rem;
  }

  @media screen and (max-width: 430px) {
    width: 5rem;
    height: 4rem;
  }
}

.volume-icon {
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;

  @media screen and (max-width: 768px) {
    width: 3rem;
    height: 3rem;
  }

  @media screen and (max-width: 480px) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @media screen and (max-width: 430px) {
    width: 2rem;
    height: 2rem;
  }
}
