/* styles for story factory cards */

.juego-fabrica-de-cuentos-main-card {
  margin-top: 4rem;
  border-radius: 35.942px;
  box-shadow: -5.9668px 11.9336px 35.8008px 0px rgba(0, 0, 0, 0.25);
}

ion-button.story-intro-button {
  display: inline-flex;
  --background: : var(--Flamenco-High, #d3eae8);
  width: 25rem; /* 403.506px; */
  --padding-bottom: 16px;
  --padding-top: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Style properties */
  border-radius: 105.63px;
  background: var(--cielo-cielo, #d3eae8);
  box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.story-intro-button-container {
  display: inline-flex;
  /* // padding: 16px; //1rem */
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.story-button-bold {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; /*//3vh; //32px;*/
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  letter-spacing: 0.211px;
}

.story-button-reg {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; /* 14px; */
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.211px;
}

#story-bienvenidos {
  width: auto;
  color: var(--base-suelo, #000);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px;*/
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -2px;
}

#story-fabrica {
  width: 600px; /* 37.5rem*/
  color: var(--habanero-habanero, #ff5708);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2px;
}

#story-welcome {
  align-self: stretch;
  color: var(--base-suelo, #000);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#story-fact {
  align-self: stretch;
  color: var(--habanero-habanero, #ff5708);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

#story-un-lugar {
  align-self: stretch;
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  font-family: Outfit;
  font-size: 2.5rem; /* 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#story-page-2-title {
  color: var(--base-suelo, #000);
  font-family: Outfit;
  font-size: 2.5rem; /* 4vh; 39.97px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 43.967px */
  /* width: 55%; */
  margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
  #story-page-2-title {
    font-size: 1.5rem; /* //2.5vh; */ /* Adjust as needed for smaller screens */
    width: 100%; /* Full width on smaller screens */ /* TODO: CHECK IF MOBILE VALUES ARE CORRECT */
  }
}

#story-page-2-subtitle {
  color: var(--base-suelo, #000);
  font-family: Outfit;
  font-size: 2rem; /* 3vh; 29.978px;*/
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 43.967px */
  /*  width: 55%; */
}

@media only screen and (max-width: 600px) {
  #story-page-2-subtitle {
    font-size: 1.5rem; /* //1.5vh;  Adjust as needed for smaller screens */
    width: 100%; /* Full width on smaller screens */
  }
}

#story-a-place {
  align-self: stretch;
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  font-family: Outfit;
  font-size: 1.5rem; /* 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

#story-juego-fabrica-es {
  width: 55vw; /* 1093px; 68.313rem */
  color: var(--greyscale-900, #212121);
  font-family: Outfit;
  font-size: 2.5rem; /*  4vh; 40px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}

#story-factory-en {
  width: 37vw; /* 367px; 22.938rem */
  color: #1c1c17;
  font-family: Outfit;
  font-size: 1.25rem; /* 2vh; 20px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

/*
.container {
  padding: 0px;
  margin: 0px;
  max-width: none;
}
*/

/* TODO: This is what is affecting the padding on both sides of orange rectangle, but I can't change it for only the orange rectangle header */
/* .inner-scroll {
   padding-inline-start: var(--padding-start);
   padding-inline-end: var(--padding-end);

} */

.rectangle-header {
  position: relative;
  max-width: 100%;
  height: 16vh; /* 156px; */
  flex-shrink: 0;
  background: var(--habanero-habanero, #ff5708);
  align-items: center;
  justify-content: left;
  display: flex;
  mix-blend-mode: multiply;
}

.rectangle-header-semi-transparent-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background:
    url("./src/assets/icons/orange_rectangle_header_overlay.svg"),
    lightgray -2012.453px 0px / 668.067% 100% no-repeat;
}

.rectangle-header-text {
  z-index: 2;
  margin-left: 7%;
}

.juego-divider {
  height: 5vh; /*50px; */
}

.container .juego-card {
  display: inline-block;
  white-space: nowrap;
  width: 115vw; /* 1147px; */
  padding: 60px 24px; /*6vh 2.5vh; */
  margin: 5% auto;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh; /*24px; */
  border-radius: 35.942px;
  background: var(--base-nube, #fff);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

/* Media query for mobile juego card view (TODO: Fix this to make stackable on phone view?) */
@media (max-width: 600px) {
  .juego-card-content {
    white-space: normal; /* Allow cards to stack vertically */
  }

  juego-card {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
  }
}
.cards-title h2 {
  color: #1c1c17;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.cards-title p {
  color: #1c1c17;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-top: auto;
}

#story-juego-title {
  margin: 0px;
  padding: 2%;
  width: 38vw; /* 381px; */
  color: #fff;
  font-family: Outfit;
  font-size: 3rem; /* 4.5vh; 48px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}

.cards-title h1 {
  color: #1c1c17;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}

#story-juego-title2 {
  margin: 0px;
  padding: 2%;
  width: 36vw; /*367px; */
  color: #fff;
  font-family: Outfit;
  font-size: 1.5rem; /* 2.5vh; 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.individual-juego-card {
  height: 274px;
}

.fabrica-de-cuentos-large-card {
  display: flex;
  max-width: 70vw; /* 1147px; */
  padding: 24px 24px 79px 24px;
  margin: auto;
  /* margin-top: 8%; */
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 35.942px;
  background: var(--base-nube, #fff);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

/* Media query for mobile juego card view (TODO: Fix this to make stackable on phone view?) */
@media (max-width: 768px) {
  .fabrica-card-content {
    white-space: normal; /* Allow cards to stack vertically */
    #fabrica-header-text {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  fabrica-card {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
  }
}

.fabrica-text-container {
  /* width: 50vw; //995.582px; */
  display: flex;
  height: 8vh; /* 79.97px;*/
  justify-content: center;
  align-items: center;
  gap: 3.6vh; /* 35.942px; */
  margin-bottom: 5%;
}

#fabrica-header-text {
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 5rem; /* 8.6vh; 86.26px; */
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 3vh; 28.753px; /* 33.333% */
  letter-spacing: -0.1vh; /* -0.899px; */
  color: var(--greyscale-900, #212121);
}

/*  felicitaciones page */

.felicitaciones-card {
  display: flex;
  width: 57vw; /* 1147px;*/
  height: 50vh; /* 494.5px; */
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 35.942px;
  background: var(--base-selva, #006a67);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.felicitaciones-title {
  width: 30vw; /* 600px; */
  color: var(--base-nube, #fff);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; /* 64px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -0.125rem; /* -2px; */
}

.felicitaciones-subtitle {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 2.5rem; /* 40px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#congrats-text-bold {
  align-self: stretch;
  color: var(--base-nube, #fff);
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#congrats-text-reg {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 1.5rem; /* 24px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.sigue-adelante-button {
  display: flex;
  width: 23rem; /* 362.566px; */
  --padding-top: 14.377px;
  --padding-bottom: 14.377px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; commented these out bc they weren't doing anything */
  /* --border-radius: 94.913px; */
  --background: var(--cielo-cielo, #d3eae8);
  --box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.sigue-button-es {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; /* 32px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.sigue-button-en {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; /* 12.58px; */
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 17.611px */
  letter-spacing: 0.19px;
}

/* JuegoCard Component */

.individual-juego-card .en-pack-title2 {
  font-size: 1.5rem; /* 24px; */
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .es-pack-title {
  font-size: 2rem; /* 24px; */
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .game-icon-container {
  position: absolute;
  top: 5%;
  left: 5%;
  background-position: center;
  background-color: #f17130;
  border-radius: 100%;
  padding: 0.5vh;
  font-size: 1rem;
  color: white;
}

.individual-juego-card .heart-icon-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 1.25rem;
}

.individual-juego-card.locked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black/grey overlay */
}

.lock-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-card .lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Adjust size as needed */
}

.cards-title {
  margin-top: 48px;
  margin-bottom: 46px;
}

.stories-card.locked {
  position: relative;
  filter: brightness(50%);
}

.lock-icon {
  font-size: 3rem;
  color: white;
}

.juego-card-content-component {
  position: relative;

  p.title {
    font-size: 1.5rem; /* 2.5vh; //24px; */
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -205px;
    left: 0;
    text-align: left;
  }

  p.subtitle {
    font-size: 1rem; /* 1.5vh; //13px; */
    color: white;
    position: absolute;
    text-align: left;
    bottom: -230px;
    left: 0;
  }
}

/* .juego-card-content-component.locked p.title {
  text-align: end;
} */

/* TODO: check if this is correct */
/* Adjustments for smaller screens  */
@media (max-width: 576px) {
  .lock-icon {
    font-size: 1.5rem;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Linear gradient starts from bottom with 80% black opacity and goes up 30% of
   * content while decreasing it's opacity to 0% AKA fading away 
   */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 30%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* individual fabrica word cards */

.mini-fabrica-card-page-3 {
  /* width: 100%; */
  /* height: 14.5rem; //23.5vh; */
  margin-left: 3%;
  margin-bottom: 3%;
  /* background-color: var(--base-humo, #eceeed); */
}

.fabrica-swirl-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-flipped-swirl {
  transform: scaleX(-1);
}

.polygon-up {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  filter: drop-shadow(0px 0px 0.8985401391983032px rgba(0, 0, 0, 0.4))
    drop-shadow(0px 5.391241073608398px 5.391241073608398px rgba(0, 0, 0, 0.16));
}

.volume-icon-container {
  position: relative;
  width: 1.5rem; /* 25px */
  height: 1.5rem; /* 25px */
  background: var(--base-lluvia, #f7faf9);
  border-radius: 9px;
  /* text-align: center; */
  box-shadow: 1.12759px 3.38278px 9.02074px 0px rgba(12, 101, 96, 0.2);
}

.volume-icon-container-greyed-out {
  position: relative;
  width: 1.5rem; /* 25px */
  height: 1.5rem; /* 25px */
  border-radius: 9px;
  box-shadow: 1.12759px 3.38278px 9.02074px 0px rgba(12, 101, 96, 0.2);
  background: var(--base-hover-highlight, rgba(255, 255, 255, 0.12));
}

.volume-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  size: 10rem;
}

.card-content-md p.fabrica-text1-spanish {
  color: var(--base-suelo, #000);
  text-align: center;
  font-family: Outfit;
  font-size: 1.5rem; /* 25.159px; */
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 27.675px */
}

.card-content-md p.fabrica-text2-english {
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  text-align: center;
  font-family: Outfit;
  font-size: 1.5rem; /* 25.159px; */
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 27.675px */
}

/* story page 2 */

.story-page-2-main-card {
  box-shadow: -5.9668px 11.9336px 35.8008px 0px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.story-page-2-main-card.story-page-3-main-card {
  height: 100%; /* 98vh; 978px; */
  position: relative;
}

.bili-character {
  max-width: 50%;
  height: auto;
  position: absolute;
  top: 29%; /* Moves the character DOWN */
  left: 64%; /* Moves the character RIGHT (neg # moves character left) */
  z-index: 1; /* Ensures Bili Character is on top of card */
}
