.add-class-success {
  display: flex;
  justify-content: center;

  ion-card {
    align-items: center;
  }
  ion-button {
    width: 100%;
  }
  ion-text {
    max-width: 27.625rem;
  }

  ion-img {
    width: 21rem;
    height: 20.8125rem;
  }
}
