ion-modal.reset-password-modal {
  --background: transparent !important;
  --backdrop-opacity: 0.4 !important;
  --box-shadow: none !important;
}

.reset-password-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    border-radius: 1.21375rem;
    padding: 1.5rem;
    max-width: 28.125rem;
    width: 100%;
    margin: auto;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 2.375rem;
    height: 2.625rem;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 1.125rem;
  }

  .email-input {
    width: 90%;
    margin: auto;
  }

  ion-button.reset-button {
    border-radius: 1.25rem !important;
    color: white !important;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    width: 70%;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
