ion-modal.reset-password-modal {
  --background: transparent !important;
  --backdrop-opacity: 0.4 !important;
  --box-shadow: none !important;
}

.reset-password-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    border-radius: 19.42px;
    padding: 24px;
    max-width: 450px;
    width: 100%;
    margin: auto;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 38px;
    height: 42px;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 18px;
  }

  .email-input {
    width: 90%;
    margin: auto;
  }

  ion-button.reset-button {
    border-radius: 20px !important;
    color: white !important;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
