@font-face {
    font-family: 'Tobi';
    src: url('/assets/fonts/TobiRegular.otf')
}

.dnd-play-area {
    width: 100%;
    text-align: center;
    
    img{
	display: none;
    }

    * {
	font-size: 100px;
	font-weight: bold;
    }
    
    .letter {
	font-family: 'Tobi';
	
	&.dnd-incorrect {
	    text-shadow:
		0px 2px 5px red,
		2px 0px 5px red,
		0px -2px 5px red,
		-2px 0px 5px red;
	}
    }

    .dnd-image{
	height: 40vh !important;
	max-height: 320px !important;
	width: auto;
    }
}

.dnd-drop-targets-container {
    text-align: center;
    display: inline-block;

    &.hasImage{
	margin-top: 1rem;
    }

    &:not(.hasImage){
	margin-top: calc((450px - 117px) / 2);
    }
    
    .dnd-image {
	margin: auto;
	display: block;
	pointer-events: none;
	user-select: none;
	width: auto;
    }
    
    .drop-target {	
	&:not(:last-child){
	    margin-right: 0.75rem;
	}

	display: inline-block;

	&.leftMargin {
	    margin-left: 100px;
	}
	
	&:not(.dropped){
	    color: black !important;
	}
    }
}
