@font-face {
  font-family: "Tobi";
  src: url("/assets/fonts/TobiRegular.otf");
}

.dnd-play-area {
  width: 100%;
  text-align: center;

  * {
    font-size: 6.25rem;
    font-weight: bold;
  }

  .letter {
    font-family: "Tobi";
    cursor: pointer;
    &.dnd-incorrect {
      text-shadow:
        0 0.125rem 0.3125rem red,
        0.125rem 0 0.3125rem red,
        0 -0.125rem 0.3125rem red,
        -0.125rem 0 0.3125rem red;
    }
  }

  .dnd-image {
    /*
      height: 40rem !important;
      max-height: 20rem !important;
      width: auto;
     */
    height: 300px;
    width: 300px;
  }

  .dnd-image {
    pointer-events: none;
    user-select: none;
  }

  .drop-target {
    display: inline-block;

    &:not(.dropped) {
      color: #999999 !important;
    }
  }
}
