#add-student-row-component {
  .add-student-row {
    border-radius: 0.875rem;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
  }

  .even-row {
    background-color: rgba(0, 106, 103, 0.12);
  }

  .odd-row {
    background-color: rgba(247, 250, 249, 1);
  }
}
