#add-student-row-component {
  .add-student-row {
    border-radius: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .even-row {
    background-color: rgba(0, 106, 103, 0.12);
  }

  .odd-row {
    background-color: rgba(247, 250, 249, 1);
  }
}
