.add-students-header {
  padding: 0px 1.625rem;
}
.add-students-title {
  padding: 2.25rem 0;
}

.first-title-row {
  padding: 1rem;
}

.add-and-upload-buttons {
  display: flex;
  gap: 1.5rem;
}

.add-students-grid {
  margin: 0px 2.25rem;
}

.add-student-row {
  margin-top: 0.25rem;
}

ion-input.custom-input {
  --placeholder-color: #889391;
  font-size: 0.75rem;
}
