.add-students-header {
  padding: 0px 26px;
}
.add-students-title {
  padding: 36px 0;
}

.first-title-row {
  padding: 16px;
}

.add-and-upload-buttons {
  display: flex;
  gap: 24px;
}

.add-students-grid {
  margin: 0px 36px;
}

.add-student-row {
  margin-top: 4px;
}

.add-student-button {
  display: flex;
  padding: 16.5px 17px;
  color: white;
  gap: 4px;
  background: var(--Base-Barro, #889391);
  border-radius: 8px;
}

.upload-csv-button {
  padding: 4px 12px 4px 4px;
  border-radius: 8px;
  border: 1px solid #006a67;
  background: transparent;
  display: flex;
  gap: 4px;
  margin-left: 18px;
}

.reset-student-button {
  padding: 17px 12px;
  display: flex;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--Base-Selva, #006a67);
  background: var(--Base-Barro, #889391);
}

.reset-button-column {
  text-align: -webkit-right;
}

.add-student-button ion-icon,
.upload-csv-button ion-icon {
  font-size: 24px;
}

.add-student-button ion-icon {
  margin-top: 8px;
}

.add-student-button p,
.upload-csv-button p {
  margin-top: 3px;
}

.add-student-button p {
  text-align: left;
}

.add-student-button-continue {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    width: 394px;
  }
}

ion-input.custom-input {
  //     --padding-bottom: 25px;
  // --padding-top: 25px;
  --placeholder-color: #889391;
  font-size: 12px;
}
