.add-students-header {
  padding: 0px 26px;
}
.add-students-title {
  padding: 36px 0;
}

.first-title-row {
  padding: 16px;
}

.add-and-upload-buttons {
  display: flex;
  gap: 24px;
}

.add-students-grid {
  margin: 0px 36px;
}

.add-student-row {
  margin-top: 4px;
}

ion-input.custom-input {
  //     --padding-bottom: 25px;
  // --padding-top: 25px;
  --placeholder-color: #889391;
  font-size: 12px;
}
