.carousel {
  display: flex;
  overflow-x: auto;
  > * {
    min-width: 20rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  padding-bottom: 1rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

@media (hover: none) and (pointer: coarse) {
  .carousel {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }

  .carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
  }
}

.carousel-wrapper {
  position: relative;
  .carousel-control {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    z-index: 9;
    &.backward {
      left: 0;
    }
    &.forward {
      right: 0;
    }
  }
}
