#wellnessPage {
    
#headerBanner {
    background-image: url(/assets/img/background_pattern_lp.png);
    background-size: cover;
    background-color: #ff5709;
    color: #fff;
    padding: 1rem 0 1rem 100px;
    margin-bottom: 4rem;
    }
  
    h1 {
      font-size: 56px;
    }
  
    h2 {
      font-size: 44px;
    }
  
    h1 + h2 {
      margin-top: 0;
    }
  }
  