.wellness-card {
  display: inline-block;
  position: relative;
  .wellness-card-inner {
    display: flex;
    flex-direction: column;
    height: 27.5rem;
    width: 27.5rem;
    border-radius: 1.5rem 1.5rem 0 0;

    .wellness-card-image {
      flex-grow: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .wellness-card-fringe {
    display: inline-block;
    width: 25%;
    aspect-ratio: 1;
    border-radius: 0 0 50% 50%;
  }
}
