#authedHeader {
  // margin: 0 2rem 1rem 2rem;
  padding-top: 1rem;
  background-color: #fff;
}

@media (max-width: 768px) {
  #authedHeader {
    padding-top: 0;
    padding-bottom: 0;
  }

  img {
    width: 13%;
    height: auto;
  }
}
