#authedHeader {
  padding-top: 1rem;
  background-color: #fff;
}

.header-bili-logo {
  width: 5rem;
  height: auto;
}

@media (max-width: 1000px) {
  #authedHeader {
    padding-top: 0;
    padding-bottom: 0;
  }
}
