#authedHeader {
  // margin: 0 2rem 1rem 2rem;
  padding: 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  #authedHeader {
    height: 3.5rem;
  }

  .back-button-container {
    padding-left: 1rem; // Adjust space to move the back button closer to the edge if needed
    margin-top: -0.2rem;
  }

  .logo {
    height: 30px; // Adjust the height for the logo
  }
}
