.settings-explore-mini-card-container {
  display: flex;
  /* height: 340px;
    padding: 24px; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}

.settings-explore-mini-card-text {
  color: var(--base-suelo, #000);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Paragraph/text-xs/[R] */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

ion-card.explore-mini-card {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
}
