#profileChip {
  background-color: #c3ece2;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  > ion-text {
    margin: 0 1rem;
    * {
      margin: 0;
    }
  }

  #profilePoints {
    align-items: center;
    background-color: #ac217b;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    margin-left: 1rem;
    border-radius: 1rem;
    ion-icon {
      margin-right: 0.5rem;
    }
  }
}

.custom-button-color {
  all: unset;
}

#profile-chip-popover {
  ion-list {
    background-color: #c3ece2;
    //border-radius: 12px;
  }
  ion-item{
    font-family: "Outfit";
    margin: 8px 4px 8px 4px;
    border-radius: 8px;
  }
}