#profileChip {
  background-color: #c3ece2;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  > ion-text {
    margin: 0 1rem;
    * {
      margin: 0;
    }
  }

  #starPoints {
    align-items: center;
    background-color: #006a67;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    margin-left: 1rem;
    border-radius: 1rem;
    ion-icon {
      margin-right: 0.5rem;
    }
  }

  #heartPoints {
    align-items: center;
    background-color: #ac217b;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    margin-left: 1rem;
    border-radius: 1rem;
    ion-icon {
      margin-right: 0.5rem;
    }
  }
}

.custom-button-color {
  all: unset;
}

#profile-chip-popover {
  ion-list {
    background-color: #c3ece2;
    //border-radius: 12px;
  }
  ion-item {
    font-family: "Outfit";
    margin: 8px 4px 8px 4px;
    border-radius: 8px;
  }
}

ion-popover.profile-popover-style {
  --width: 280px;
  --offset-y: 10px;
}

@media (max-width: 768px) {
  #profileChip {
    width: max-content;

    #starPoints,
    #heartPoints {
      padding: 0.25rem 0.5rem;
      margin-left: 0.8rem;

      ion-icon {
        margin-right: 0.3rem;
        font-size: 0.8rem;
      }
    }

    img {
      width: 45px;
    }
  }
}
