#add-students-page {
  .first-title-row {
    padding: 1rem 0;
  }

  .add-and-upload-buttons {
    display: flex;
    gap: 1.5rem;
  }

  .upload-csv-button {
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #006a67;
    background: transparent;
    display: flex;
    gap: 0.25rem;
    margin-left: 1.125rem;
  }
}
