#add-students-page {
  .first-title-row {
    padding: 16px 0;
  }

  .add-and-upload-buttons {
    display: flex;
    gap: 24px;
  }

  .upload-csv-button {
    padding: 4px 12px 4px 4px;
    border-radius: 8px;
    border: 1px solid #006a67;
    background: transparent;
    display: flex;
    gap: 4px;
    margin-left: 18px;
  }
}
