#class-about-styles {
  .grades-styles {
    display: flex;
  }

  .grades-styles ion-checkbox::part(container) {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.25rem;
    border: 0.1875rem solid #889391;
  }

  .grades-styles ion-col {
    padding-left: 0;
    padding-right: 0;
  }

  .classroom-input-styles label {
    font-size: 1.25rem;
    color: #333;
    font-weight: bold;
  }

  .classroom-name-input {
    margin-top: 0.75rem;
  }

  .classroom-name-input .input-bottom .helper-text {
    color: #889391;
    margin-top: 0.4375rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .classroom-name-input .input-bottom {
    padding-left: 0;
  }
}
