#stories-game-mcg-wrapper {
  margin: auto;
  max-width: 50rem;
}

.stories-game-mcg-card {
  aspect-ratio: 1;
  min-height: 6.25rem;
  max-height: 25vh;
  border: 0.5rem solid transparent;
  border-radius: 2rem;
  margin: auto;
  display: flex;
  &.correct {
    border-color: var(--alerts-status-success, #12d18e);
  }
  &.incorrect {
    border-color: var(--Categories-Error, #f0091b);
    animation: shake 1s;
  }
}

.stories-game-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1.5rem;
}
