.stories-landing-page-container {
  padding: 0 5rem;
}

#stories-landing-page {
  margin-left: 4.375rem;
  margin-right: 1.875rem;
  .image-container {
    background: url("/assets/img/coming_soon_block.svg");
    background-size: cover;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
}
