#story-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  > div {
    position: relative;
  }
}

#story-title-card-flag {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  position: absolute;
  top: -18%;
  right: -45%;
  transform: rotate(30deg);
  transform-origin: top left;
  width: 100%;

  &.single-line {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.story-title-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  > ion-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    > ion-text {
      max-width: 27.375rem;
    }
  }
  .title {
    text-shadow:
      -0.0625rem -0.0625rem 0 #fff,
      0.0625rem -0.0625rem 0 #fff,
      -0.0625rem 0.0625rem 0 #fff,
      0.0625rem 0.0625rem 0 #fff;
  }
}

.story-page {
  aspect-ratio: 1;
  width: 100%;
  margin: 0;
  max-height: calc(80vh - var(--header-height));
  max-width: calc(80vh - var(--header-height));
  ion-card-content {
    height: 100%;
  }
}

#stories-dnd {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-container {
    height: 50vh;
    width: 100%;
  }

  .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
  }
}

#dropzone-dnd {
  .dropzone {
    /* Your drop zone styling */
    height: 6.25rem;
    width: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hovered {
    /* Styling when dragged item is over the drop zone */
    background-color: #aaffaa;
  }

  .invalid {
    /* Styling when dragged item is not allowed to be dropped */
    background-color: #ffaaaa;
  }
}

.text-responsive h1 {
  font-weight: bold;
  margin: 0 4.25rem 0 4.25rem;
}

.stories-volume-button {
  --background: var(--Flamenco-High, #ffaedc);
  --ripple-color: var(--Flamenco-High, #ffaedc);
  height: 3.875rem;
  width: 3.875rem;
}

.stories-volume-icon {
  height: 2.375rem;
  width: auto;
}

.story-pages-wrapper {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  .page-control {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    z-index: 100;

    &.forward {
      right: 1.5rem;
    }

    &.backward {
      left: 1.5rem;
    }

    &.locked {
      opacity: 50% !important;
    }
  }
}

.word {
  display: inline-block;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
  &.vocab {
    cursor: pointer;
    border-bottom: 0.1875rem dashed #23beb9;
  }
  &.italic {
    font-style: italic;
  }
}

.continue-story-button {
  padding: 1rem;
  color: white;
  border-radius: 6.5625rem;
  background: #006a67;
  display: flex;
  gap: 0.25rem;
}

.stories-pills-block {
  display: flex;
  max-width: 43.75rem;
  height: 0.471rem;
  align-items: flex-start;
}

.stories-card-pills-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
