.stories-landing-page-container {
    padding: 0 80px;   
}

#stories-landing-page {
    .carousel-header-margin{
        margin-left: 30px;
    }

    .all-about-me-header {
        margin-left: 30px;
        @media (max-width: 1024px) { /* iPad Mini landscape width */
            margin-top: 3rem; 
        }
    }
}