.stories-landing-page-container {
    padding: 0 80px;   
}

#stories-landing-page {
    margin-left: 70px;
    margin-right: 30px;
    .image-container {
	background: url('/assets/img/coming_soon_block.svg');
	background-size: cover;
	border-radius: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: auto;
	margin-top: 1rem;
	text-align: center;
    }
}
