#vocab-modal-id {
   .word-row {
    display: flex;
   }

   .audio-button-word{
    margin-right: 24px;
   } 

}

ion-modal .vocab-modal-content{
    width: 920px;
}

ion-modal {
    --width: auto;
}