#vocab-modal-id {
  .word-row {
    display: flex;
  }

  .audio-button-word {
    margin-right: 1.5rem;
  }

  .word-color {
    color: #00000073;
  }
}

.vocab-syllable-breakdown {
  &.word + &.word {
    margin-left: 1rem;
  }

  &.segment {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &.underline {
    display: inline-block;
    border-top: 0.4rem solid #ec59b1;
    border-radius: 1rem;
    width: 80%;
  }
}
