#communityBanner {
  background-image: url(/assets/img/background_pattern_lp.png);
  background-size: cover;
  background-color: #d3eae8;
  color: #1c1c17;
  padding: 1rem 0 1rem 6.25rem;
  margin-bottom: 0.25rem;
}
