#communityCardWrapper {
  display: flex;
  justify-content: space-around;
}

.community-card {
  width: 303px;
  height: 529px;
  background-color: var(--Cielo-Cielo);
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  img {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
