#communityCardWrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.community-card {
    aspect-ratio: 1/1;
    width: 30%;
    background-color: var(--Cielo-Cielo);
    padding: 2rem;
    border-radius: 2rem;
    img {
	height: 250px;
	width: auto;
	display: block;
	margin: auto;
	margin-bottom: 3rem;
    }
}
