.image-count-with-me-style {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.count-english-text-style {
  font-family: Outfit;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
}
