.image-count-with-me-style {
  // max-height: calc((100vh - 300px - 100px)/2);
  height: auto;
  // border-radius: 32px;
}

.number-overlay span {
  text-shadow:
    -3.87px -3.87px 5px #ffffff,
    3.87px -3.87px 5px #ffffff,
    -3.87px 3.87px 5px #ffffff,
    3.87px 3.87px 5px #ffffff;
}

.group-0 {
  width: 30%
}

.group-1 {
  width: 27%;
}

.group-2 {
  max-width: 18%;
}

.group-3 {
  width: 25%;
}

.group-4 {
  max-width: 18%;
  // max-height: calc((100vh - 300px - 100px)/2);
}

.group-5 {
  max-width: 12%;
}

.group-6 {
  max-width: 14%;
}

.group-7 {
  max-width: 40%;
}

.group-8 {
  max-width: 10%;
}

.group-9 {
  max-width: 20%;
}

.group-10 {
  max-width: 13%;
}

.group-11 {
  max-width: 11%;
}

.group-12 {
  max-width: 12%;
}

// congrats page

.congrats-star {
  animation: grow 2s;
  // position:absolute;
  // top : 50px;
  // background-color:black;
  // left:50px;
  height:auto;
  width:450px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 2s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 2s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  
  transition-property: -moz-transform;
  transition-duration: 2s;
  animation-name: grow;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

/* animation */

@-webkit-keyframes grow {
  from {
      -webkit-transform:scale(2);
  }
  to {
      -webkit-transform:scale(1);
  }
}
@-moz-keyframes grow {
  from {
      -moz-transform:scale(2);
  }
  to {
      -moz-transform:scale(1);
  }
}
@keyframes grow {
  from {
      transform:scale(2);
  }
  to {
      transform:scale(1);
  }
}