.image-count-with-me-style {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.number-overlay span {
  text-shadow:
    -3.87px -3.87px 5px #ffffff,
    3.87px -3.87px 5px #ffffff,
    -3.87px 3.87px 5px #ffffff,
    3.87px 3.87px 5px #ffffff;
}
