#add-students-page {
  .add-students-header {
    padding: 0px 1.625rem;
  }
  .add-students-title {
    padding: 2.25rem 0;
  }

  .add-and-upload-buttons {
    display: flex;
    gap: 1.5rem;
  }

  .upload-csv-button {
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #006a67;
    background: transparent;
    display: flex;
    gap: 0.25rem;
    margin-left: 1.125rem;
  }

  .add-student-button-continue {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      width: 24.625rem;
    }
  }
}
