#add-students-page {
    .add-student-button {
        padding: 6px 12px;
        color: white;
        border-radius: 8px;
        background: #006A67;
    }

    .upload-csv-button {
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid  #006A67;
        background: transparent;
    }
}