.studentProgressTag {
  padding: 0.5rem;
  + .studentProgressTag {
    margin-left: 0.5rem;
  }
}

#teacher-dashboard-students {
  padding: 3rem;

  .class-students-header ion-item {
    --padding-start: 0;
  }

  .classroom-name-text {
    margin-right: 0.5rem;
  }

  .overview-text-header {
    margin-left: 0.5rem;
  }

  .header-overview-arrow {
    margin-bottom: 3rem;
  }

  .students-header-block {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }
  .add-students-button {
    border-radius: 0.5rem;
    background: #006a67;
    display: flex;
    padding: 0.25rem 0.75rem 0.25rem 0.25rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
    color: white;

    ion-icon {
      font-size: 1.25rem;
    }
  }

  .class-students-table {
    margin: 2rem 0;
  }

  .class-students-table-grid {
    background: white;
    border-radius: 0.5rem;
  }

  .class-student-table-header-row {
    padding: 1rem;
  }
  .class-student-table-body-row {
    padding: 1rem;
    background: #f7faf9;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
  }
  .student-needs-support-text {
    padding: 0.0125rem 0.5rem;
    background: #22beb9;
    border-radius: 0.25rem;
  }

  .button-column {
    text-align: end;
  }

  .class-students-banner-styles ion-card {
    margin: 0;
    padding: 0.9375rem 2rem 0.9375rem 1.5rem;
    background: #d3eae8;
  }

  .get-notified-button {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #006a67;

    font-weight: 600;

    p {
      color: white;
    }
  }
}
