#teacher-dashboard-class-overview-id {

    .custom-col-class-overview {
        text-align: center;
        border: 1px solid #CBCBCB;
        padding: 10px 0 10px 0;
    }

    .classroom-name-text {
        margin-right: 8px;
    }

    .overview-text-header{
        margin-left: 8px;
    }

    .header-overview-arrow{
        margin-bottom: 48px;
    }

    .classroom-name-block {
        display: flex;
        justify-content: space-between;
    }

    .visit-students-button{
        
        border-radius: 8px;
        background: linear-gradient(89.96deg, #74C7E5 7.88%, #A2E0C1 104.05%);

        p{
            padding: 12px, 16px, 12px, 16px;
        }
    }

    .table-green-buttons{
        margin-top: 24px;
    }

    .button-wrapper-class-grid button {
        background: none;
        
    }

    .graph-header ion-grid{
        padding: 0;
        ion-row {
            max-width: 280px;
            height: 40px;
        }
    }

    .graph-header {
        padding-bottom: 40px;
    }

    .class-game-name-percentage ion-row {
        margin-bottom: 8px;
    }

    .card-blog {
        background-color: #D3EAE8;
    }
    .visit-blog-button {
        padding: 4px 12px 4px 12px;
        border-radius: 8px;
        background-color: #006A67;
        
        font-weight: 600;

        p {
            color: white;
        }
    }

    .small-oval-element {
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }

      .smaller-oval-element {
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
      }

      .color-1 {
        background:  #0045A1;
      }
      .color-2 {
        background: #AC217B;
      }
      .color-3 {
        background:  #FF5708;
      }
      .color-4 {
        
        background:  #22BEB9;
      }
      .color-5 {
        background: #ECEEED;
      }

      .text-color-grey {
        color: #889391;
      }

      .text-color-black {
        color: black;
      }

    .review-word-styles {
        background: #F7FAF9;
        height: 52px;
        border-radius: 8px;

        ion-row {
            margin-top: 3px;
            margin-left: 6px;
        }
    }

    .active-button-green{
        background-color: #22BEB9;
    }

    .students-needs-support-list ion-item {
        --padding-start: 0; 
        --inner-padding-end: 0;
    }

    .student-needs-support-picture {
        margin: 13px 13px 13px 0;
    }

    .student-needs-support-text{
        font-size: 14px;
        width: 110px;
        font-family: 'Outfit';
        
    }

    .student-needs-support-progress-bar {
        width: 50%;
        position: relative;
        margin-left: 120px;
    }

    .student-needs-support-progress-bar-percentage {
        position: absolute;
        right: 0;
        top: -190%;
    }

}