.grades-styles ion-col {
  padding-left: 0;
  padding-right: 0;
}

.classroom-input-styles {
  width: 100%;
  margin: 3.25rem 0;
  padding: 0px 1rem;
}

.classroom-input-styles label {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}
