#class-add-students {
  .add-students-header {
    padding: 0 1.625rem;
  }
  .add-students-title {
    padding: 2.25rem 0;
  }

  .classroom-name-text {
    margin-right: 0.5rem;
  }

  .overview-text-header {
    margin: 0 0.5rem;
  }

  .header-overview-arrow {
    margin-top: 3rem;
  }

  .add-student-button-continue {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      width: 24.625rem;
    }
  }
}
