#class-add-students {
  .add-students-header {
    padding: 0px 26px;
  }
  .add-students-title {
    padding: 36px 0;
  }

  .classroom-name-text {
    margin-right: 8px;
  }

  .overview-text-header {
    margin: 0px 8px;
  }

  .header-overview-arrow {
    margin-top: 48px;
  }
}
