.grades-styles ion-col {
  padding-left: 0;
  padding-right: 0;
}

.classroom-input-styles {
  width: 100%;
  margin: 52px 0px;
  padding: 0px 16px;
}

.classroom-input-styles label {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
