#teacher-dashboard-class-overview-id {

    .custom-col-class-overview {
        text-align: center;
        border: 1px solid #CBCBCB;
        
    }

    .button-wrapper-class-grid button {
        background: none;
        
    }
}