#teacher-dashboard-class-overview-id {
  .classroom-name-text {
    margin-right: 0.5rem;
  }

  .overview-text-header {
    margin-left: 0.5rem;
  }

  .header-overview-arrow {
    margin-bottom: 3rem;
  }

  .classroom-name-block {
    display: flex;
    justify-content: space-between;
  }

  .visit-students-button {
    border-radius: 0.5rem;
    background: linear-gradient(89.96deg, #74c7e5 7.88%, #a2e0c1 104.05%);
    padding: 0.75rem 1rem;
  }

  .button-wrapper-class-grid button {
    background: none;
  }

  .graph-header ion-grid {
    padding: 0;
    ion-row {
      max-width: 17.5rem;
      height: 2.5rem;
    }
  }

  .graph-header {
    padding-bottom: 2.5rem;
  }

  .class-game-name-percentage ion-row {
    margin-bottom: 0.5rem;
  }

  .card-blog {
    background-color: #d3eae8;
  }
  .visit-blog-button {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #006a67;

    font-weight: 600;

    p {
      color: white;
    }
  }

  .small-oval-element {
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  .smaller-oval-element {
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
  }

  .color-1 {
    background: #0045a1;
  }
  .color-2 {
    background: #ac217b;
  }
  .color-3 {
    background: #ff5708;
  }
  .color-4 {
    background: #22beb9;
  }
  .color-5 {
    background: #eceeed;
  }

  .text-color-grey {
    color: #889391;
  }

  .text-color-black {
    color: black;
  }

  .review-word-styles {
    background: #f7faf9;
    height: 3.25rem;
    border-radius: 0.5rem;

    ion-row {
      margin-top: 0.1875rem;
      margin-left: 0.375rem;
    }
  }

  .active-button-green {
    background-color: #22beb9;
  }

  .students-needs-support-list ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  .student-needs-support-picture {
    margin: 0.8125rem 0.8125rem 0.8125rem 0;
  }

  .student-needs-support-text {
    font-size: 0.875rem;
    width: 6.875rem;
    font-family: "Outfit";
  }

  .student-needs-support-progress-bar {
    width: 50%;
    position: relative;
    margin-left: 7.5rem;
  }

  .student-needs-support-progress-bar-percentage {
    position: absolute;
    right: 0;
    top: -190%;
  }
}
