.progrees-main-block {
  padding: 3rem;
}

.class-progress-header ion-item {
  --padding-start: 0;
}

.classroom-name-text {
  margin-right: 0.5rem;
}

.overview-text-header {
  margin-left: 0.5rem;
}

.header-overview-arrow {
  margin-bottom: 3rem;
}

.progress-header-block {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.progress-hours-block {
  display: flex;
  justify-content: center;

  ion-icon {
    font-size: 2.5rem;
  }
}

.hours-column {
  border-radius: 0.5rem;
  background: var(--Flamenco-High, #ffaedc);
  text-align: center;
  align-self: stretch;
  padding: 1rem 2rem;
  margin-right: 1.5rem;
}

.standarts-column {
  border-radius: 0.5rem;
  background: var(--Sol-High, #ffe24f);
  text-align: center;
  align-self: stretch;
  padding: 1rem 2rem;
}

.progress-data-block {
  margin: 2.5rem 0;

  ion-accordion-group {
    margin: 3rem 0;
  }
}
