.add-class-button {
    width: 56px;
    height: 56px;
    background-color: #006A67;
    border-radius: 8px;
}

.add-new-class-row {
    margin-top: 59px;
    background-color: #D3EAE8;
    border-radius: 18px;
    padding: 36px;
}