.student-name-block {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 24px 0px;
}

.classroom-name-text {
  margin-right: 8px;
}

.progress-text-header {
  margin: 0px 8px;
}

.header-progress-arrow {
  margin-top: 48px;
}

.time-data-column {
  padding: 0px 10px;

  ion-icon {
    font-size: 28px;
  }
}

.student-time-text {
  padding-left: 10px;
}

.top-skills-card ion-card {
  min-height: 110px;
  max-width: 323px;
}

.student-top-skills-header-text {
  padding-left: 15px;
}

.color-1 {
  background: #ec59b1;
}
.color-2 {
  background: #006a67;
}
.color-3 {
  background: #0045a1;
}

.student-language-percentage ion-row {
  margin-top: 20px;
}

.students-needs-support-list ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 21px;
}

.student-needs-support-text {
  font-size: 14px;
  width: 250px;
  font-family: "Outfit";
}

.student-needs-support-progress-bar {
  width: 50%;
  position: relative;
  margin-left: 100px;
}

.student-needs-support-progress-bar-percentage {
  position: absolute;
  right: 0;
  top: -160%;
}

.student-progress-language-mode p {
  border-radius: 4px;
  padding: 0px 6px;
  margin-right: 55px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Base-Nube, #fff);
  font-family: Outfit;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 177.778% */
  letter-spacing: 1px;
}

.student-progress-location {
  display: flex;
  gap: 4px;

  p {
    text-transform: uppercase;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 177.778% */
    letter-spacing: 1px;
  }
}
