$card-margin: 2rem;

#playPage {
  .favorite-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }

  #playCardWrapper {
    width: calc(100% - 200px);
    margin: auto;
  }

  #storyFactoryCard {
    background-image: url("/assets/img/background_purple.png");
    cursor: pointer;
    margin-right: $card-margin;
  }

  #intruderCard {
    background-image: url("/assets/img/background_teal.png");
    cursor: pointer;
    margin-right: $card-margin;
  }

  #countCard {
    background: url("/assets/img/background_orange.png");
    cursor: pointer;
  }

  .card {
    background-position: center center;
    background-size: cover;
    border-radius: 2rem;
    text-align: center;
    color: #fff;
    height: 440px;
    width: 440px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    img {
      max-height: 250px;
    }
  }

  .play-category-tag {
    transform: scale(0.5);
    position: absolute;
    left: 0;
    top: 0;
  }
}
