$card-margin: 2rem;

#playPage {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h1 + h2 {
    margin-top: 0;
  }

  #playCardWrapper {
    display: flex;
    overflow-x: hidden;
    width: calc(100% - 100px);
    height: 540px;
    margin-left: 100px;
  }

  #storyFactoryCard {
    background-image: url("/assets/img/background_purple.png");
    cursor: pointer;
    margin-right: $card-margin;
  }

  #intruderCard {
    background-image: url("/assets/img/background_teal.png");
    margin-right: $card-margin;
  }

  #countCard {
    background: url("/assets/img/background_orange.png");
  }

  .card {
    background-position: center center;
    background-size: cover;
    border-radius: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .spreader {
      height: 0px;
      width: 440px;
    }
  }
}
