#student-landing-page {
  .carousel-header-margin {
    margin-left: 1.875rem;
  }

  .background-pattern {
    background-position: 100%;
  }

  #wave-icons {
    background-image: url("/assets/img/wave.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 85rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    ion-col {
      margin-top: -1.25rem;
    }
    ion-col:nth-child(2) {
      margin-top: 0rem;
    }

    ion-col:nth-child(3) {
      margin-top: 3rem;
    }

    .wave-icon {
      display: inline-block;
      text-align: center;

      .icon {
        display: inline-block;
        padding: 1.875rem;
        border-radius: 50%;

        &.has-link {
          cursor: pointer;
        }
      }
      svg {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }
}
