@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-2px) rotate(-2deg);
  }
  50% {
    transform: translateX(3px) rotate(3deg);
  }
  75% {
    transform: translateX(-2px) rotate(-2deg);
  }
}

.shake-animation {
  animation: shake 1s;
}

@keyframes bounceArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce-arrow {
  animation: bounceArrow 1s infinite;
}
