.color-english,
.color-grey {
  color: rgba(0, 0, 0, 0.45) !important;
}

.color-barro {
  color: var(--Base-Barro);
}

.color-error {
  color: #f0091b;
}

.color-selva {
  color: var(--Base-Selva);
}

.background-flamenco-medium {
  background-color: var(--Flamenco-Medium);
}

.background-cielo-low {
  background-color: var(--Cielo-Low);
}

.color-cielo-highest {
  color: var(--Cielo-Highest);
}

.color-nube {
  color: var(--Base-Nube) !important;
}

.background-nube {
  background-color: var(--Base-Nube) !important;
}

.color-suelo {
  color: var(--Base-Suelo);
}

.color-flamenco-lowest {
  color: var(--Flamenco-Lowest);
}

.background-flamenco-flamenco {
  background-color: var(--Flamenco-Flamenco);
}

.color-cielo-low {
  color: var(--Cielo-Low);
}

.color-habanero-habanero {
  color: var(--Habanero-Habanero);
}

.color-sol {
  color: var(--Sol);
}

@keyframes drop-shadow-incorrect-animation {
  0% {
    --webkit-filter: drop-shadow(4px 4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(-4px -4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(4px 4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(-4px -4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  }

  99% {
    --webkit-filter: drop-shadow(4px 4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(-4px -4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(4px 4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(-4px -4px 0 var(--Categories-Error, #f0091b))
      drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  }

  100% {
    --webkit-filter: none;
    filter: none;
  }
}

.drop-shadow-incorrect {
  animation: drop-shadow-incorrect-animation 3s forwards;
}

.drop-shadow-correct {
  --webkit-filter: drop-shadow(4px 4px 0 var(--alerts-status-success, #12d18e))
    drop-shadow(-4px -4px 0 var(--alerts-status-success, #12d18e))
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(4px 4px 0 var(--alerts-status-success, #12d18e))
    drop-shadow(-4px -4px 0 var(--alerts-status-success, #12d18e))
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}
