.color-english {
  color: rgba(0, 0, 0, 0.45) !important;
}

.color-barro {
  color: var(--Base-Barro);
}

.color-cielo-highest {
  color: var(--Cielo-Highest);
}

.color-nube {
  color: var(--Base-Nube);
}

.color-suelo {
  color: var(--Base-Suelo);
}
