.margin-horizontal-carousel {
    margin-left: 30px;
    margin-right: 30px;
}

@for $margin from 1 through 5 {
  .margin-top-#{$margin} {
    margin-top: #{$margin}rem !important;
  }
  .margin-top-#{$margin}-5 {
    margin-top: calc(#{$margin}rem + 0.5rem) !important;
  }

  .margin-bottom-#{$margin} {
    margin-bottom: #{$margin}rem !important;
  }
  .margin-bottom-#{$margin}-5 {
    margin-bottom: calc(#{$margin}rem + 0.5rem) !important;
  }

  .margin-vertical-#{$margin} {
    margin-top: #{$margin}rem !important;
    margin-bottom: #{$margin}rem !important;
  }

  .margin-vertical-#{$margin}-5 {
    margin-top: calc(#{$margin}rem + 0.5rem) !important;
    margin-bottom: calc(#{$margin}rem + 0.5rem) !important;
  }
}
