.margin-horizontal-carousel {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

@for $margin from 1 through 5 {
  .margin-top-#{$margin} {
    margin-top: #{$margin}rem !important;
  }
  .margin-top-#{$margin}-5 {
    margin-top: calc(#{$margin}rem + 0.5rem) !important;
  }

  .margin-bottom-#{$margin} {
    margin-bottom: #{$margin}rem !important;
  }

  .margin-bottom-#{$margin}-5 {
    margin-bottom: calc(#{$margin}rem + 0.5rem) !important;
  }

  .margin-vertical-#{$margin} {
    margin-top: #{$margin}rem !important;
    margin-bottom: #{$margin}rem !important;
  }

  .margin-vertical-#{$margin}-5 {
    margin-top: calc(#{$margin}rem + 0.5rem) !important;
    margin-bottom: calc(#{$margin}rem + 0.5rem) !important;
  }

  .margin-left-#{$margin} {
    margin-left: #{$margin}rem !important;
  }

  .margin-right-#{$margin} {
    margin-right: #{$margin}rem !important;
  }

  .margin-horizontal-#{$margin} {
    margin-left: #{$margin}rem !important;
    margin-right: #{$margin}rem !important;
  }
}
