@use 'sass:math';

/* 
  .swiper-slides apply text-align: center
  reset it, since it affects pages we render in slides
*/

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit-VariableFont_wght.ttf');
  font-weight: normal;  // Or the corresponding font weight if you have multiple files for different weights
  font-style: normal;  // Specify 'italic' if it's an italic font style
}

html{
    background-color: #D3EAE8;
    --ion-font-family: 'Outfit';
}

ion-content {
    --background: url('/assets/img/background.png') no-repeat center center / cover;
}

.swiper-slide > * {
  text-align: initial;
}

#header{
    ion-toolbar{
	--background: transparent url('/assets/img/logo_small.png') center/auto 70% no-repeat;
	padding-left: 1rem;
	padding-right: 1rem;
    }
}

ion-progress-bar{
    $ionProgressBarHeight: 12px;
    height: $ionProgressBarHeight;
    border-radius: math.div($ionProgressBarHeight, 2);
}


ion-button {
    // --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    $paddingY: 23px;
    --padding-bottom: #{$paddingY};
    --padding-top: #{$paddingY};
    font-weight: bold;
    font-size: 1rem;
  //  margin: 24px;
    text-transform: none;

    &:not([shape=round]){
	--border-radius: 0.75rem;
    }
    
    &.button-disabled{
	--background: var(--ion-color-secondary);
	--color: var(--ion-color-secondary-contrast);
	opacity: 1;
    }
}



ion-label {
    color: var(--text-secondary);
    font-size: 16px;
    font-family: Outfit;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.48px;
}

 
ion-card-title {
    color: var(--Base-Suelo);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.2px;
}

ion-card-content {
  color: var(--greyscale-900, #212121);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Paragraph/text-sm/[R] */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}


//styles for input fields
.input-label-placement-above{
    color: var(--ion-color-medium);
}

ion-input{
    &.input-fill-outline {
	font-weight: bold;
	--padding-start: 20px;
	--padding-end: 20px;
	// todo: convert #E7E9E9 into color system
	// problem arises when trying to stack with border-color
	--background: #E7E9E9;
	--border-width: 0.25rem !important;
	--border-color: #E7E9E9 !important;
	--border-radius: 0.75rem !important;
	// todo: highlight-color-focused gives a different color than expected
	// --highlight-color-focused: var(--Base-Selva);

	&.has-focus {
	    --background: var(--Cielo-Highest);
	    // todo: cannot use --highlight-color-focused because of issue above
	    --border-color: var(--Base-Selva)  !important;
	}
    }
}

ion-text{
    h1{
	font-size: 2rem !important;
	font-weight: bold !important;
    }

    h2{
	font-weight: bold !important;
	font-size: 1.25rem !important;
    }
}

/*
ion-text h1{
    color: var(--greyscale-900, #212121) !important;
    font-family: Outfit !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 110% !important;
}
*/

// JC: temporarily disabled this since it was interfering with swiperjs

ion-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 16px;
    box-shadow: none;
    border-radius: 1rem;
}

//styles for the radio-button

.undefined ion-card {
  box-shadow: 0 0 0 3px var(--base-agua, rgba(0, 106, 103, 0.12));
}

.active ion-card{
  --background: var(--Cielo-Highest);
  box-shadow: 0 0 0 3px var(--Base-Selva);
}

.radio-button-select {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

//styles for the circle with svg icon
.oval-element {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-inner {
  display: flex;
  align-items: center;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 8px;
}

.custom-ion-header {
  padding-bottom: 0;
}

// styles for story factory cards

ion-card.story-intro {
  /* Layout properties */
  width: 995px;
  height: 740px;
  flex-shrink: 0;

  /* Style properties */
  border-radius: 2.5rem;
  background: var(--base-nube, #FFF);
  box-shadow: -5.9668px 11.9336px 35.8008px 0px rgba(0, 0, 0, 0.25);
}

ion-button.story-button {
  /* Layout properties */
  display: flex;
  width: 403.506px;
  // padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Style properties */
  border-radius: 105.63px;
  background: var(--cielo-cielo, #D3EAE8);
  box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.20);
}

.story-intro-button-container {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.story-button-bold {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  letter-spacing: 0.211px;
}

.story-button-reg {
  /* Layout properties */
  align-self: stretch;

  /* Style properties */
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.211px;
}

::after {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.story-page-1-text-container {
  display: inline-flex;
  height: 433px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex-shrink: 0;
}

#story-bienvenidos {
  width: 600px;
  color: var(--base-suelo, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -2px;
}

#story-fabrica {
  width: 600px;
  color: var(--habanero-habanero, #FF5708);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2px;
}

#story-welcome {
  align-self: stretch;
  color: var(--base-suelo, #000);
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#story-fact {
  align-self: stretch;
  color: var(--habanero-habanero, #FF5708);
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

#story-un-lugar {
  align-self: stretch;
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#story-graciosas {
  align-self: stretch;
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#story-a-place {
  align-self: stretch;
  color: var(--base-backdrop, rgba(0, 0, 0, 0.56));
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

#story-juego-fabrica-es {
  width: 1093px;
  color: var(--greyscale-900, #212121);
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}

#story-factory-en {
  width: 367px;
  color: #1C1C17;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.rectangle-header {
  width: 1366px;
  height: 156px;
  flex-shrink: 0;
  background: var(--habanero-habanero, #FF5708);
  mix-blend-mode: multiply;
}

.juego-divider{
  height: 50px;
}

.juego-card {
  display: flex;
  width: 1147px;
  padding: 60px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 35.942px;
  background: var(--base-nube, #FFF);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

#story-juego-title {
  width: 381px;
  color: #FFF;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}

#story-juego-title2 {
  width: 367px;
  color: #FFF;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.story-card-1, .story-card-2, .story-card-3  {
  display: flex;
  width: 320px;
  height: 274px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FDCB04;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
}

.fabrica-de-cuentos-card {
  display: flex;
  width: 1147px;
  padding: 24px 24px 79px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 35.942px;
  background: var(--base-nube, #FFF);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

#story-juego-fabrica-colorful-text-container {
  display: flex;
  height: 79.97px;
  justify-content: center;
  align-items: center;
  gap: 35.942px;
}

#story-juego-fabrica-colorful-text {
  width: 995.582px;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 86.26px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.753px; /* 33.333% */
  letter-spacing: -0.899px;
}

.felicitaciones-card {
  position: relative;
  display: flex;
  width: 1147px;
  height: 494.5px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 35.942px;
  background: var(--base-selva, #006A67);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

.sigue-adelante-button {
  display: flex;
  width: 362.566px;
  --padding-top: 14.377px;
  --padding-bottom: 14.377px;
  flex-direction: column;
  justify-content: center;
  // align-items: center; commented these out bc they weren't doing anything
  // --border-radius: 94.913px;
  --background: var(--cielo-cielo, #D3EAE8);
  --box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.20);
}

.sigue-button-es {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.sigue-button-en {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 12.58px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 17.611px */
  letter-spacing: 0.19px;
}