@use "sass:math";

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.no-text-decoration {
  text-decoration: none;
}

.page-wrapper {
  max-width: 1366px;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 80px; // clearance for footer
}

.content-wrapper {
  max-width: 540px;
  margin: auto;
}

ion-content::part(scroll) {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

// calendar icon in input needs color to be fixed
ion-input[type="date"] {
  &:not(.has-value) {
    .native-input[type="date"] {
      color: #a7a6a6;
    }
  }
  &.has-value {
    .native-input[type="date"] {
      color: #000000;
    }
  }
}

.native-input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* 
  .swiper-slides apply text-align: center
  reset it, since it affects pages we render in slides
*/

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-VariableFont_wght.ttf");
  // font-weight: normal;  // Or the corresponding font weight if you have multiple files for different weights
  // font-style: normal;  // Specify 'italic' if it's an italic font style
}

html {
  background-color: #d3eae8;
  --ion-font-family: "Outfit";
}

ion-content {
  --background: url("/assets/img/background.png") no-repeat center center /
    cover;
}

.swiper-slide > * {
  text-align: initial;
}

#header {
  ion-toolbar {
    --background: transparent url("/assets/img/logo_small.png") center/auto 70%
      no-repeat;
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

ion-progress-bar {
  $ionProgressBarHeight: 12px;
  height: $ionProgressBarHeight;
  border-radius: math.div($ionProgressBarHeight, 2);
}

ion-button {
  //--box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  $paddingY: 23px;
  --padding-bottom: #{$paddingY};
  --padding-top: #{$paddingY};
  font-weight: bold;
  font-size: 1rem;
  //    margin: 24px;
  text-transform: none;

  &:not([shape="round"]) {
    --border-radius: 0.75rem;
  }

  &.button-disabled {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
    opacity: 1;
  }
}

ion-label {
  color: var(--text-secondary);
  font-size: 16px;
  font-family: Outfit;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.48px;
}

ion-card-title {
  color: var(--Base-Suelo);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.2px;
}

ion-card-content {
  color: var(--greyscale-900, #212121);
  font-feature-settings:
    "clig" off,
    "liga" off;
  /* Paragraph/text-sm/[R] */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

//styles for input fields
.input-label-placement-above {
  color: var(--ion-color-medium);
}

ion-input {
  &.input-fill-outline {
    font-weight: bold;
    --padding-start: 20px;
    --padding-end: 20px;
    // todo: convert #E7E9E9 into color system
    // problem arises when trying to stack with border-color
    --background: #e7e9e9;
    --border-width: 0.25rem !important;
    --border-color: #e7e9e9 !important;
    --border-radius: 0.75rem !important;
    // todo: highlight-color-focused gives a different color than expected
    // --highlight-color-focused: var(--Base-Selva);

    &.has-focus {
      --background: var(--Cielo-Highest);
      // todo: cannot use --highlight-color-focused because of issue above
      --border-color: var(--Base-Selva) !important;
    }
  }
}

ion-text {
  h1 {
    font-size: 64px !important;
    font-weight: 700 !important;
  }

  h2 {
    font-size: 40px !important;
    font-weight: 400 !important;
  }

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    color: #000;
  }
}

h4 {
  color: #fff;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

/*
ion-text h1{
    color: var(--greyscale-900, #212121) !important;
    font-family: Outfit !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 110% !important;
}
*/

// JC: temporarily disabled this since it was interfering with swiperjs

ion-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  margin-bottom: 16px;
  box-shadow: none;
  border-radius: 1rem;
}

//styles for the radio-button

.undefined ion-card {
  box-shadow: 0 0 0 3px var(--base-agua, rgba(0, 106, 103, 0.12));
}

.active ion-card {
  --background: var(--Cielo-Highest);
  box-shadow: 0 0 0 3px var(--Base-Selva);
}

.radio-button-select {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

//styles for the circle with svg icon
.oval-element {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inner {
  display: flex;
  align-items: center;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 8px;
}

.custom-ion-header {
  padding-bottom: 0;
}

//styles for the home-landing-page

.background-pattern {
  background-image: url("/assets/img/background_pattern_lp.png");
  background-color: #fff8f0;
  padding: 20px;
}

.stories-card {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  border-radius: 12px;
  flex: 0 0 auto;
}

.stories-card-image {
  width: 200px;
  height: 274px;
}

.other-card-image {
  width: 320px;
  height: 274px;
}

.stories-card-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.stories-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 10px;
}

.stories-card-footer p {
  color: #fff;
  /* Body */
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-top: 0;
}

.oval-element-small {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-title a {
  text-decoration: none;
}

.cards-title h2 {
  color: var(--Base-Selva, #006a67);
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.cards-title p {
  color: #1c1c17;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-top: auto;
}

#story-juego-title {
  margin: 0px;
  padding: 2%;
  width: 38vw; //381px;
  color: #fff;
  font-family: Outfit;
  font-size: 3rem; //4.5vh; //48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}

.cards-title h1 {
  color: #1c1c17;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}

#story-juego-title2 {
  margin: 0px;
  padding: 2%;
  width: 36vw; //367px;
  color: #fff;
  font-family: Outfit;
  font-size: 1.5rem; //2.5vh; //24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.individual-juego-card {
  height: 274px;
}

.fabrica-de-cuentos-large-card {
  display: flex;
  max-width: 70vw; //1147px;
  padding: 24px 24px 79px 24px;
  margin: auto;
  // margin-top: 8%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 35.942px;
  background: var(--base-nube, #fff);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
}

/* Media query for mobile juego card view (TODO: Fix this to make stackable on phone view?) */
@media (max-width: 768px) {
  .fabrica-card-content {
    white-space: normal; /* Allow cards to stack vertically */
    #fabrica-header-text {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  fabrica-card {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
  }
}

.fabrica-text-container {
  // width: 50vw; //995.582px;
  display: flex;
  height: 8vh; //79.97px;
  justify-content: center;
  align-items: center;
  gap: 3.6vh; //35.942px;
  margin-bottom: 5%;
}

#fabrica-header-text {
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 5rem; //8.6vh; //86.26px;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; //3vh; //28.753px; /* 33.333% */
  letter-spacing: -0.1vh; //-0.899px;
  color: var(--greyscale-900, #212121);
}

// felicitaciones page

.felicitaciones-card {
  display: flex;
  width: 57vw; //1147px;
  height: 50vh; //494.5px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 35.942px;
  background: var(--base-selva, #006a67);
  box-shadow: -5.36141px 10.72282px 32.16845px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.felicitaciones-title {
  width: 30vw; //600px;
  color: var(--base-nube, #fff);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 4rem; //64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  letter-spacing: -0.125rem; //-2px;
}

.felicitaciones-subtitle {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 2.5rem; //40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 44px */
}

#congrats-text-bold {
  align-self: stretch;
  color: var(--base-nube, #fff);
  font-family: Outfit;
  font-size: 2rem; //32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

#congrats-text-reg {
  align-self: stretch;
  color: var(--cielo-cielo, #d3eae8);
  font-family: Outfit;
  font-size: 1.5rem; //24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.sigue-adelante-button {
  display: flex;
  width: 23rem; //362.566px;
  --padding-top: 14.377px;
  --padding-bottom: 14.377px;
  flex-direction: column;
  justify-content: center;
  // align-items: center; commented these out bc they weren't doing anything
  // --border-radius: 94.913px;
  --background: var(--cielo-cielo, #d3eae8);
  --box-shadow: 4px 16px 32px 0px rgba(58, 42, 17, 0.2);
}

.sigue-button-es {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 2rem; //32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.sigue-button-en {
  align-self: stretch;
  color: var(--cielo-lowest, #003735);
  text-align: center;
  font-family: Outfit;
  font-size: 1rem; // 12.58px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 17.611px */
  letter-spacing: 0.19px;
}

/* JuegoCard Component */

.individual-juego-card .en-pack-title2 {
  font-size: 1.5rem; //24px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .es-pack-title {
  font-size: 2rem; //24px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
}

.individual-juego-card .game-icon-container {
  position: absolute;
  top: 5%;
  left: 5%;
  background-position: center;
  background-color: #f17130;
  border-radius: 100%;
  padding: 0.5vh;
  font-size: 1rem;
  color: white;
}

.individual-juego-card .heart-icon-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 1.25rem;
}

.individual-juego-card.locked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black/grey overlay */
}

.lock-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-card .lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Adjust size as needed */
}

.stories-card.locked {
  position: relative;
  filter: brightness(50%);
}

.lock-icon {
  font-size: 3rem;
  color: white;
}

.juego-card-content-component {
  position: relative;

  p.title {
    font-size: 1.5rem; //2.5vh; //24px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -205px;
    left: 0;
    text-align: left;
  }

  p.subtitle {
    font-size: 1rem; //1.5vh; //13px;
    color: white;
    position: absolute;
    text-align: left;
    bottom: -230px;
    left: 0;
  }
}

// .juego-card-content-component.locked p.title {
//   text-align: end;
// }

// TODO: check if this is correct
/* Adjustments for smaller screens  */
@media (max-width: 576px) {
  .lock-icon {
    font-size: 1.5rem;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Linear gradient starts from bottom with 80% black opacity and goes up 30% of
   * content while decreasing it's opacity to 0% AKA fading away 
   */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 30%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* individual fabrica word cards */

.mini-fabrica-card {
  width: 100%;
  height: 14.5rem; //23.5vh;
  background-color: var(--base-humo, #eceeed);
}

.fabrica-swirl-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fabrica-flipped-swirl {
  transform: scaleX(-1);
}

.polygon-up {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  filter: drop-shadow(0px 0px 0.8985401391983032px rgba(0, 0, 0, 0.4))
    drop-shadow(0px 5.391241073608398px 5.391241073608398px rgba(0, 0, 0, 0.16));
}

.volume-icon-container {
  position: relative;
  width: 1.5rem; //25px
  height: 1.5rem; //25px
  background: var(--base-lluvia, #f7faf9);
  border-radius: 9px;
  // text-align: center;
  box-shadow: 1.12759px 3.38278px 9.02074px 0px rgba(12, 101, 96, 0.2);
}

.volume-icon-container-greyed-out {
  position: relative;
  width: 1.5rem; //25px
  height: 1.5rem; //25px
  border-radius: 9px;
  box-shadow: 1.12759px 3.38278px 9.02074px 0px rgba(12, 101, 96, 0.2);
  background: var(--base-hover-highlight, rgba(255, 255, 255, 0.12));
}

.volume-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  size: 10rem;
}
