.responsive {
  width: 100%;
}

.responsive-height {
  height: 100%;
}

.responsive-height-with-header {
  height: calc(100% - var(--header-height));
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
