@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-VariableFont_wght.ttf");
}

html {
  font-size: 16px;
}

/*
@media screen and (max-width: 1200px) {
  // large
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  // medium
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  // small
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  // xs
  html {
    font-size: 8px;
  }
}
*/

html.plt-mobile {
  font-size: 8px;
}

.semibold {
  font-weight: 600 !important;
  font-family: Outfit !important;
}

.no-underline {
  text-decoration: none;
}

// set standards
h1,
h2,
h3,
p {
  margin: 0;
}

.text-xs,
.text-sm,
.text-md,
.text-lg,
.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl {
  font-weight: normal;
  font-family: Outfit;
}

.text-sm-xs {
  font-size: 0.5625rem !important;
  line-height: 1rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.text-md {
  font-size: 1rem !important;
  line-height: 1.25rem !important;
}

.text-md-no-line-height {
  font-size: 0.9375rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
}

.text-1_5xl {
  font-size: 1.375rem !important;
  line-height: 1.75rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.text-3xl {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  letter-spacing: -0.03125rem !important;
}

.text-4xl {
  font-size: 2.5rem !important;
  line-height: 3rem !important;
  letter-spacing: -0.03125rem !important;
}

.text-5xl {
  font-size: 3rem !important;
  font-weight: bold !important;
  line-height: 3.5rem !important;
  letter-spacing: -0.0625 !important;
}

.text-6xl {
  font-size: 4rem !important;
  font-weight: bold !important;
  line-height: 4.5rem !important;
  letter-spacing: -0.0125rem !important;
}

.align-center {
  text-align: center;
}
