.settings-header {
  padding: 0.75rem 1.5rem;
  border-bottom: 0.0625rem solid var(--base-agua, rgba(0, 106, 103, 0.12));
  ion-row {
    align-items: center;
  }
}

ion-toolbar.settings-toolbar {
  --background: #f7faf9;
}
