.intro-card{
    height: calc(100vh - 95px);
    position: relative;
    overflow: hidden;
}

.sf-card {
  max-width: 995px;
  margin: auto;

  ion-card {
    gap: 8px;
    box-shadow: -5.9668px 11.9336px 35.8008px 0px rgba(0, 0, 0, 0.25);
    padding: 4rem 0 4rem 4rem;
    border-radius: 2.5rem;
  }
}

.bili-character {
    position: absolute;
    bottom: -300px;
    right: 0;
  //top: 100px;
  //right: -1.5rem;
  max-width: 400px;
  z-index: 2; /* Ensures Bili Character is on top of card */
}
