$letter-avatar-size: 5.3125rem;
$text-size: 2.375rem;
$letter-avatar-padding-top: calc(($letter-avatar-size - $text-size) / 2);

.child-profile-card {
  align-items: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  display: flex;
  justify-content: flex-start;
  min-width: 17.5rem;
  padding: 1rem;

  &:not(.active) {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &.active {
    background-color: #d4e9e8;
    border-color: #016a67;
  }

  .letter-avatar {
    height: $letter-avatar-size;
    width: $letter-avatar-size;
    border-radius: 50%;
    align-text: center;
    padding-top: $letter-avatar-padding-top;
    margin-right: 1.5rem;
  }
}
