.settings-pg1-container {
  margin: 3% 2%;
  max-width: 100%;
  height: auto;
}

.child-profile-content {
  display: flex;
  flex-wrap: nowrap;
}

.child-profile-heading,
.explore-bili-heading {
  color: var(--light-suelo, #000);
  font-size: 2em; /* 32px; */
  font-style: normal;
  font-weight: 600;
  line-height: 1.25; /* 40px; 125% */
  letter-spacing: -0.5px;
  margin-top: 0;
}

.explore-bili-heading {
  margin-top: 10%;
}

p {
  margin-top: 0px;
  color: #889391;

  /* Paragraph/text-lg/[S] */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5556; /* 28px; 155.556% */
}

.explore-bili-subheading {
  color: var(--base-barro, #889391);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#settings-overview-see-all-button {
  color: #889391;
  text-decoration-line: underline;
  --background-hover: none;
  --border-radius: 0;
  &.button-disabled {
    --background: none;
  }
}

ion-row.row {
  border-bottom: 1px solid var(--base-hover-shadow, rgba(0, 0, 0, 0.08));
}

ion-button.add-child-btn {
  --padding-top: 5%;
  --padding-bottom: 5%;
  border-width: 0;
  box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, 0.16);
}

.sparkle-icon {
  margin-left: 0.3125em; /* 5px; */
}

/* Responsive styles for tablets */
@media only screen and (max-width: 1024px) {
  .settings-pg1-container {
    margin: 3% 2%;
  }
  .child-profile-heading {
    font-size: 1.75em;
    line-height: 1.29;
  }
  /* Add more styles as needed */
}

/* Responsive styles for smaller screens, e.g., mobile */
@media only screen and (max-width: 768px) {
  .settings-pg1-container {
    margin: 3% 2%;
  }
  h1.child-profile-heading {
    font-size: 1.5em;
    line-height: 1.33;
  }
  /* Add more styles as needed */
}
