#pricing-page-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 15%; */
  padding: 2.5rem 7.5rem 6rem;
}

.plan-card {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1.24rem;
  background: var(--Base-Nube, #fff);
  width: auto;
  height: auto;
  margin: 13% 27%;
  /* gap: 36px; */

  @media screen and (max-width: 768px) {
    width: 20rem;
  }
}

.banner-content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  z-index: 1;
}

.pricing-banner {
  position: absolute;
  bottom: 1.25rem;
  z-index: 1;
  width: 28rem;
  height: 3.75rem;
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 1;
}

.banner-text1 {
  align-self: stretch;
  color: var(--Base-Suelo, #000);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Paragraph/text-xl/[S] */
  font-family: Outfit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 22px */
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 0.95rem;
  }
}

.banner-text2 {
  color: var(--Base-Suelo, #000);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Paragraph/text-sm/[R] */
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  margin-bottom: 1.875rem;

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

#pricing-annual {
  position: relative;
}

.best-value-block {
  position: absolute;
  right: 4.8125rem;
  top: -0.25rem;
  /* display: flex; */
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: var(--Desierto-Desierto, #f48722);
  z-index: 1;

  @media screen and (max-width: 768px) {
    width: 5rem;
    right: 2.1875rem;
    top: -0.25rem;
  }
}

p.best-value-text {
  color: var(--Base-Suelo, #000);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem; /* 160% */
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  margin: 0;
}

.no-commitments-text {
  color: var(--Base-Barro, #889391);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.price-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}
