
.stories-volume-button {
  --background: var(--Flamenco-High, #ffaedc);
  --ripple-color: var(--Flamenco-High, #ffaedc);
  height: 62px;
  width: 62px;
}

.stories-volume-icon {
  height: 38px;
  width: auto;
  /*
  width: auto;
  background-color: var(--Flamenco-High, #ffaedc);
  padding: 1rem;
  border-radius: 1rem;
  */
}
