#student-profile {
  .content-container {
    margin: 3.125rem 5.625rem;
    position: relative;
  }

  .content-container ion-item {
    padding-right: 6.25rem;

    @media (max-width: 1024px) {
      /* iPad Mini portrait and landscape width */
      padding-right: 10.2rem;
    }
    @media (max-width: 932px) {
      /* iPad Mini portrait and landscape width */
      padding-right: 9rem;
    }
    @media (max-width: 844px) {
      /* iPad Mini portrait and landscape width */
      padding-right: 7.4rem;
    }
    @media (max-width: 768px) {
      /* iPad Mini portrait and landscape width */
      padding-right: 5.2rem;
    }
  }

  .student-card,
  .student-card-selected {
    width: 12.5rem;
    height: 15.6rem;
    margin-top: 1.25rem;
    gap: 0.5rem;
    border-radius: 1rem;
    border: 0.1875rem solid #006a671f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .student-card-selected {
    background-color: #d3eae8;
    border-color: #006a67;
  }
}
