img.avatar {
  aspect-ratio: 1;
  &.xs {
    width: 1.5rem !important;
  }
  &.sm {
    width: 2.5rem !important;
  }
  &.md {
    width: 3.75rem !important;
  }
  &.lg {
    width: 5.25rem !important;
  }
}
