.language-toggle {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  height: 5rem;
  width: 5rem;
  border-radius: 1.75rem;
  display: inline-block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  > .language-toggle-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  /* todo: nest .en etc */
}

.language-toggle.en {
  background-color: #0045a1;
}
.language-toggle.en.pressed {
  background-color: #003782;
}

.language-toggle.es {
  background-color: #f0091b;
}
.language-toggle.es.pressed {
  background-color: #c00617;
}

.language-toggle.es-en {
  background-color: #006a67;
}
.language-toggle.es-en.pressed {
  background-color: #005552;
}
