#intruder-styles {
  padding: 0 107px;

  .intruder-game-title {
    padding: 0 0 0 30px;
  }
  .intruder-cards-container {
    display: flex;
    //height: 612px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 44px;
    align-self: stretch;
  }

  .intruder-card-style {
    display: flex;
    width: 360px;
    height: 540px;
    padding: 124.245px 0px 30px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 102.274px;
    margin-inline: initial;
    min-width: 200px;
  }

  .intruder-card-title {
    color: var(--Base-Suelo, #000);
    text-align: center;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1px;
  }

  @media screen and (max-width: 850px) {
    padding: 0;

    .intruder-card-title {
      font-size: 28px;
    }

    .intruder-card-style img {
      width: 70%;
    }

    .intruder-card-style {
      height: 340px;
      padding: 14.245px 0px 0px 0px;
      gap: 25px;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(-2px) rotate(-2deg);
    }
    50% {
      transform: translateX(3px) rotate(3deg);
    }
    75% {
      transform: translateX(-2px) rotate(-2deg);
    }
  }

  .shake-animation {
    animation: shake 1s;
  }
}
