#intruder-styles {
  padding: 0 107px;
  margin: 0 auto;

  .intruder-cards-container {
      display: flex;
      gap: 3rem;
  }

  .intruder-card-style {
      flex-basis: 0;
      flex-grow: 1;
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border-radius: 32px;
  }

  .intruder-card-style img {
    max-height: 70%;
    max-width: 70%;
  }

}

.sound-button {
  text-align: center;
  margin-top: 20px;
}

ion-button.sound-button-background {
  --background: var(--Flamenco-High, #ffaedc);
  --border-radius: 2rem !important;
  width: 6.25rem;
  height: 6.25rem;
  --background-hover: none;

  @media screen and (max-width: 768px) {
    width: 5rem;
    height: 5rem;
  }

  @media screen and (max-width: 480px) {
    width: 4rem;
    height: 4rem;
  }

  @media screen and (max-width: 430px) {
    width: 5rem;
    height: 4rem;
  }
}

.sound-icon {
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;

  @media screen and (max-width: 768px) {
    width: 3rem;
    height: 3rem;
  }

  @media screen and (max-width: 480px) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @media screen and (max-width: 430px) {
    width: 2rem;
    height: 2rem;
  }
}
