#personal-student-profile {
  .content-container {
    margin: 3.125rem 1.875rem;
    position: relative;

    @media (max-width: 768px) {
      /* iPad Mini portrait and landscape width */
      margin: 1.25rem;
    }
  }

  .heading-container {
    width: 43.9375;
    height: 13rem;
    margin: 0 0 0 4.0625rem;

    @media (max-width: 768px) {
      /* iPad Mini portrait and landscape width */
      width: auto;
      margin: 0 0 0 3.125rem;
      padding: 0 1.25rem;
    }

    @media (max-width: 667px) {
      /* iPad Mini portrait and landscape width */
      width: auto;
      margin: 0 0 0 0;
      padding: 0 1.25rem;
    }
  }

  .bili-helmet-image {
    position: absolute;
    left: 47.5rem;
    bottom: 11.875rem;
    max-width: 18.125rem;

    @media (max-width: 1024px) {
      /* iPad Mini portrait and landscape width */
      left: 46.875rem;
      bottom: 13.125rem;
      max-width: 12.5rem;
    }

    @media (max-width: 1000px) {
      /* iPad Mini portrait and landscape width */
      left: 45rem;
      bottom: 13.125rem;
      max-width: 11.875rem;
    }

    @media (max-width: 960px) {
      /* iPad Mini portrait and landscape width */
      left: 31.25rem;
      bottom: 11.875rem;
      max-width: 11.875rem;
    }

    @media (max-width: 667px) {
      /* iPad Mini portrait and landscape width */
      left: 31.25rem;
      bottom: 12.5rem;
      max-width: 9.375rem;
    }
  }
}
