#teacher-dashboard-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  .buttons-end {
    display: flex;
    align-items: center;
  }
}
