.coming-soon-card {
  flex: 0 0 44rem;
  height: 13.5rem;
  border-radius: 0.6875rem;
  align-items: center;
  padding: 1.5rem;

  .subtitle {
    margin-top: 0.625rem;
  }
}

.coming-soon-card::after {
  display: none;
}
