#coming-soon-card {
    width: 703px;
    height: 215px;
    border-radius: 11px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 24px;
    box-shadow: -1.6612545251846313px 3.3225090503692627px 9.967527389526367px 0px #00000040;

    .subtitle {
        margin-top: 10px;
    }
}

