.account-credentials .checkbox-label {
    white-space: normal;
}

.account-credentials {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.account-credentials ion-label {
    margin-bottom: -6px;
}