.container {
  cursor:
    url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-height: 100%;
  /* overflow: hidden; */
  position: relative;
  /* padding: 10%; */
}

.card {
  position: absolute;
  padding: 40px;
  margin-top: 20%;
  margin-bottom: 5%;
  width: 625.845px;
  height: 400px;
  /* will-change: transform; */
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  border-radius: 34.635px;
  box-shadow: -5.167px 10.333px 30.999px 0px rgba(0, 0, 0, 0.25);
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  user-select: none;
}
