ion-card.main-pricing-card {
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 13.0625rem;
  height: 10.1875rem;
  border-radius: 1rem;
  border: 0.1875rem solid var(--Base-Agua, rgba(0, 106, 103, 0.12));
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 8rem;
    padding: 9%;
  }
}

ion-card-header.pricing-header {
  padding: 0;
}

.bolded-inner-card-heading {
  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.pricing-card ion-card-title {
  display: flex;
  text-align: start;
}

.cost {
  color: #006a67;
  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.0125rem;
  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.frequency {
  color: #006a67;
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.0125rem;
  @media screen and (max-width: 768px) {
    font-size: 0.87rem;
  }
}

.discount {
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
  }
}
