#settings-side-menu {
  .hover-highlight:hover,
  .hover-highlight-active {
    --background: var(--base-agua, rgba(0, 106, 103, 0.12));
    --border-radius: 0.5rem;
    --color: #006a67;
  }

  .hover-highlight-active ion-icon,
  .hover-highlight:hover ion-icon,
  .hover-highlight-active .menu-label,
  .hover-highlight:hover .menu-label {
    color: #006a67;
  }

  ion-item {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
  }

  ion-icon {
    color: #a1a4b2;
  }

  .hover-highlight .menu-label {
    color: #a1a4b2;
  }

  ion-list.side-menu-styles {
    box-shadow: 0.125rem 0 1rem 0 rgba(0, 106, 103, 0.2);
  }
}

@media only screen and (max-width: 992px) {
  #settings-side-menu {
    ion-icon {
      margin-right: 0;
    }
  }
}
